.about {

    &__title {
        padding-bottom: 0;

    }

    .marquee {
        margin-bottom: 4rem;

        &-title {
            span {
                padding: 0 5rem !important;
            }

            img {
                object-fit: contain;
            }
        }

    }

    &__bio {
        padding-top: 5rem;

        @media only screen and (max-width: $bp-small) {
            padding-top: 0;
        }
    }

    .cta {
        margin-top: 4rem;
    }


}