.hero {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
    align-items: center;


    @media only screen and (max-width: $bp-small) {
        grid-template-columns: 1fr;
        gap: 0;

        &__text {
            margin-bottom: 2rem;
        }
    }

    &.bottom-padding {
        margin-bottom: 12rem;
    }

    &__text {
        h2 {
            span {
                display: block;
            }
        }
    }

    &__inverse {
        margin-bottom: 0;
        row-gap: 0;

        & div:last-child {
            grid-row: 1 / 3;

        }
    }


}